    <h2> Create new forum </h2>

    <%= form_for :forum, url:forums_path do |f| %>

    <p>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.text_area :description %>

    </p>

    <p>
        <%= f.submit "Create forum" %>    
    </p>
    <% end %>
